*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    margin: 20px;
    border: 3px solid black;
    width: 90%;
    height: auto;
}
.content{
    margin: 20px;
}

header h2{
    padding-top: 20px;
}

.Junior{
    margin-top: 20px;
}

.Junior ul li{
    list-style-type: none;
   
}
h4{
    color: rgb(115, 160, 49);
}